<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_user %><br />
    <%= f.text_field :created_user %>
  </div>
  <div class="field">
    <%= f.label :updated_user %><br />
    <%= f.text_field :updated_user %>
  </div>
  <div class="field">
    <%= f.label :destroy_user %><br />
    <%= f.text_field :destroy_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
