<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Created user:</b>
  <%= @product.created_user %>
</p>

<p>
  <b>Updated user:</b>
  <%= @product.updated_user %>
</p>

<p>
  <b>Destroy user:</b>
  <%= @product.destroy_user %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
